/*
multi
line
comment
*/

.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}

h1 {
    text-decoration: underline;
    color: darkred;
}

h2 {
    text-decoration: underline;
    color: blue;
}

