--main-bg: #E6ECF0;
--link-color: #3B94D9;
--main-link-color: #848487;
--light-bg: #FFF;
--separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("../positioning-new/bush.png");
    padding-top: 275px;
}
a {
    color: var(--link-color);
}
.top-nav {
    background: var(--light-bg);
    position: fixed;
    width: 100%;
    z-index: 999;
    opacity: 0.9;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-item {
    padding: 1.5em;
    display: inline-block;
}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}
.profile {
    background: var(--light-bg);
    height: 80px;
}
.profile-image {
    position: absolute;
}
.profile-form {
    line-height: 80px;
}

.container {
    padding: 2em;
}

.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}
.profile-details {
    float: left;
    width: calc(25% - 1em);
    margin: 0 0.5em;
}
.timeline {
    float: left;
    width: calc(50% - 1em);
    margin: 0 0.5em 0 0.5em;
}
.who-to-follow {
    float: left;
    width: calc(25% - 1em);
    margin: 0 0.5em;
}
.media {
    width: 100%;
    background-color: var(--light-bg);
    border-bottom: 1px solid var(--separator-color);
    padding: 0.5em;
    overflow: auto;
}
.media-image {
    margin-top: 1.33em;
    width: 50px;
    float: left;
}
.media-body {
    width: calc(100% - 50px);
    float: left;
}

.profile-entry {
    list-style: none;
    margin: .3em 0;
}

.profile-items {
    padding: 0;
}